body {
    display: flex;
    font-family: Tahoma, Trebuchet MS, Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    margin: 0;
    min-height: auto;
    min-width: none;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0;
    min-height: auto;
    min-width: none;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 12px;
    padding: 30px;
}

.header-links a {
    text-decoration: none;
    color: #F9FAF8;
}

.signupsection {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px;
    display: flex;
    justify-content: center;

}

.signupsection button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
}

.signupsection img {
    height: 500px;
    width: auto;
}

.helpfulinfosection {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.picswithinfo {
    display: flex;
}

.picswithinfo img {
    height: 300px;
    width: auto;
}


.quotesection {
background-color: #e5e7eb;
color: #1F2937;
padding: 32px;
display: flex;
flex-direction: column;
}

.lowersignupsec {
    padding: 32px;
    display: flex;
    margin: 75px 150px;
    padding: 50px 30px;
}

.lowersignupsec.cta.calltoaction {
    font-size: 32px;
}

.lowersignupsec.cta.longercta {
    font-size: 12px;
}


.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px;
    display: flex;
    justify-content: center;

}