body {
    display: flex;
    font-family: Tahoma, Trebuchet MS, Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    margin: 0;
    min-height: auto;
    min-width: none;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0;
    min-height: auto;
    min-width: none;
    flex-wrap: nowrap;
}

.logo img {
    height: auto;
    width: 150px;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
    padding: 30px;
    margin: 0px 20px;
    align-self: center;
}

.header-links a {
    text-decoration: none;
    color: #F9FAF8;
}

.signupsection {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.tagline {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.headline {
    font-size: 48px;
    font-weight: bold;
    width: 600px;
}

.subtext {
    width: 300px;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
}

.signupsection button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 12px;
}

.signupsection img {
    height: 350px;
    width: auto;
}

.helpfulinfosection {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.picswithinfo {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;

}

.picswithinfo img {
    height: 250px;
    width: 250px;
    border: 250px;
    border-color: #3882f6;
    border-radius: 30px;
    margin: 20px 10px;
}

.imageone,
.imagetwo,
.imagethree,
.imagefour {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.quotesection {
background-color: #e5e7eb;
color: #1F2937;
padding: 32px;
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
}

.quotesection .quote {
    font-size: 36px;
}

.quotesection .author {
    width: 200px;
    font-size: 24px;
    font-weight: 700;
    align-self: self-end;
}

.lowersignupsec {
    padding: 32px;
    display: flex;
    justify-content: space-around;
    margin: 75px 150px;
    padding: 50px 30px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 12px;
}

.lowersignupsec .cta .calltoaction {
    font-size: 26px;
    font-weight: bold;

}

.lowersignupsec .cta .longercta {
    font-size: 12px;
}

.lowersignupsec button {
    background-color: #3882f6;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 12px;
    border-color: white;
}


.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}